
<!-- src/pages/login/login.html -->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
<div>
   <img src="./assets/img/caixa-logo-4.png">
</div>
  <br>
  <form>
    <ion-item>
      <ion-label stacked>Nome de usuário</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha de acesso</ion-label>
      <ion-input  type="password"></ion-input>
    </ion-item>

    <button ion-button block type="submit">Acessar</button>
  </form>

</ion-content>
