<!-- src/pages/home/home.html -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
        <ion-row>
          <ion-col item-width="67">
            <ion-avatar item-start>
              <img src="assets/img/marty-avatar.png">
            </ion-avatar>
          </ion-col>
          <ion-col item-left>
            <h2>Pennywise Derry</h2>
            <p>tipo de conta</p>
            <p>Agencia conta</p>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-row> Saldo:  {{saldoTotal}}</ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col><button ion-button>5 dias</button></ion-col>
          <ion-col><button ion-button>15 dias</button></ion-col>
          <ion-col><button ion-button>30 dias</button></ion-col>
        </ion-row>
      </ion-item>

  <ion-list *ngFor="let p of lista_consultaSaldo">
    
    <ion-card>
    <ion-item>
      <p>  {{p['descricao']}}  </p>
    </ion-item>

    <ion-item>
      {{p['tipo']}}
    </ion-item>

    <ion-item>
      {{p['valor']}}
    </ion-item>

     <ion-item>
      {{p['data']}}
    </ion-item>
    </ion-card>
  </ion-list>

</ion-content>